PORT=3000
WEBHOOK_DEDUPE_TTL_MS=300000
WEBHOOK_MAX_CACHE_ENTRIES=2000
KOMMO_SUBDOMAIN=nacapital
KOMMO_LONG_LIVED_TOKEN=replace_me
KOMMO_WEBHOOK_SECRET=replace_me
PUBLIC_WEBHOOK_URL=https://nacapital.work/webhooks/kommo
KOMMO_REDIRECT_URI=https://nacapital.work/integrations/kommo/oauth/callback
DEFAULT_PIPELINE_ID=10768071
PIPELINE_ESCRITORIO_VIRTUAL_ID=10768291
PIPELINE_AVULSOS_ID=10768331
PIPELINE_EVENTOS_ID=10768423
PIPELINE_RESIDENCIA_ID=10768327
PIPELINE_COWORKING_ID=10768467
DEFAULT_RESPONSIBLE_USER_ID=12908151
STAGE_EV_QUALIFICACAO_ID=82572855
STAGE_EV_DOCUMENTACAO_ID=82573547
STAGE_EV_PRONTO_CONTRATO_ID=82573547
STAGE_EV_MORNO_ID=82572863
STAGE_AVULSOS_TRIAGEM_ID=82573099
STAGE_AVULSOS_QUALIFICACAO_ID=82573103
STAGE_AVULSOS_PROPOSTA_ID=82573107
STAGE_AVULSOS_FECHAMENTO_ID=82573779
STAGE_EVENTOS_CONFIRMACAO_ID=82573803
STAGE_EVENTOS_PARTICIPACAO_ID=82573807
STAGE_EVENTOS_FOLLOWUP_ID=82573811
STAGE_RESIDENCIA_CONTATO_INICIAL_ID=82573075
STAGE_RESIDENCIA_QUALIFICACAO_ID=82573079
STAGE_RESIDENCIA_VISITA_ID=82573083
STAGE_RESIDENCIA_PROPOSTA_ID=82573683
STAGE_RESIDENCIA_FOLLOWUP_ID=82573687
STAGE_RESIDENCIA_CONTRATACAO_ID=82573703
STAGE_COWORKING_TRIAGEM_ID=82574111
STAGE_COWORKING_SOLUCAO_ID=82574115
STAGE_COWORKING_PENDENTE_ID=82574119
STAGE_COWORKING_PROGRESSO_ID=82574419
STAGE_COWORKING_CONCLUIDO_ID=82574423
CUSTOM_FIELD_PRODUTO_INTERESSE_ID=
CUSTOM_FIELD_ORIGEM_LEAD_ID=
CUSTOM_FIELD_TEMPERATURA_LEAD_ID=
CUSTOM_FIELD_QUER_CONTRATAR_ID=
CUSTOM_FIELD_QUER_FALAR_COM_TIME_ID=
CUSTOM_FIELD_PRONTO_PARA_FECHAMENTO_ID=
CUSTOM_FIELD_DOCUMENTACAO_COMPLETA_ID=
CONTACT_FIELD_PHONE_ID=222450
CONTACT_FIELD_EMAIL_ID=222452
CONTACT_FIELD_QUALIFICACAO_ID=1016294
CONTACT_FIELD_COMO_NOS_CONHECEU_ID=1020508
VALIDATION_BASE_URL=http://127.0.0.1:3000
VALIDATION_WEBHOOK_SECRET=replace_me
VALIDATION_EXPECTED_PIPELINE_ID=10768291
VALIDATION_EXPECTED_STATUS_ID=
VALIDATION_EXPECTED_RESPONSIBLE_ID=12908151
VALIDATION_MESSAGE_TEXT=quero contratar escritorio virtual
